.UI {
	box-sizing: border-box;
	z-index: 999999999;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	border: solid white 4px;
	position: fixed;
	pointer-events: none;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1;
}
